@import '../../../assets/styles/mixin';

main {
  display: flex;
  flex-direction: column;
  margin: 0;
  gap: 20px;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
}

main > header {
  display: flex;
  align-items: center;
  margin: 20px;

  h1 {
    margin-bottom: 0;
  }

  button {
    width: 70px;
    margin-right: 10px;

    mat-icon {
      margin: 0;
      color: yellow;
    }
  }
}

.selected-workout {
  @include center-flex(row);

  .selected-workout-title {
    @include center-flex(row);

    color: white;
    background-color: rgba(206, 206, 0, 0.521);
    border-radius: 10px;
    width: 450px;
    height: 50px;
    font-size:20px;
  }
}

.exercicios-card {
  @include center-flex(column);
  margin-bottom: 30px;

  mat-card {
    width: 450px;
  }
}

mat-card {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #303030;
  color: white;
  margin-top: 15px;
}

mat-card-subtitle {
  background-color: #303030;
  color: white;
}

.mat-mdc-card-header {
  padding: 0 16px 0;
}
