<header>
  <app-navbar></app-navbar>
</header>

<main>
  <header>
    <button mat-flat-button color="primary" (click)="voltar()"><mat-icon>arrow_back</mat-icon></button>
    <h1>{{titulo}}</h1>
  </header>

  <div class="exercicios-card">
    @if (btnNovoTreino) {
      <button mat-flat-button color="primary" (click)="criarNovoExercicio()">Novo Exercicio</button>
    }

    @for (exercicio of exerciciosTreino; track $index) {
      <card-exercicio [exercicio]="exercicio"></card-exercicio>
    }
  </div>
</main>
