@import '../../../assets/styles/mixin';

main {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 20px;
  align-items: center;
  justify-content: start;
  min-height: 100vh;
  background-color: rgb(14, 14, 14);
}

.main-card {
  background-color: #1f1f1f;
}

.card-workouts {
  @include center-flex(row);

  width: 500px;
  margin-top: 20px;
}

#card-workouts-header {
  background-color: #303030;
  color: white;
}

.card {
  @include center-flex(row);
  gap: 10px;
  width: 350px;
  background-color: #303030;
  color: white;

  .mat-mdc-card-header {
    padding: 0;
  }

  #btn-play-workout {
    background-color: yellow;
    border-radius: 50px;
    width: 40px;
    height: 40px;

    mat-icon {
      @include center-flex(row);
      width: auto;
    }
  }
}

@media screen and (max-width:1025px) {
  main {
    height: calc(100vh - 56px);
  }
}
