<header>
  <app-navbar></app-navbar>
</header>

<main>
  <mat-card appearance="outlined" class="main-card">
    <mat-card-header id="card-workouts-header">
      <mat-card-title>Workouts</mat-card-title>
    </mat-card-header>

    <mat-card-content class="card-workouts">
      @for (treino of workouts; track $index) {
        <mat-card class="card" appearance="outlined">
          <mat-card-header>
            <mat-card-title>{{treino.titulo}}</mat-card-title>
          </mat-card-header>
          <mat-card-actions>
            <div>
              <button mat-flat-button color="primary" (click)="comecarTreino(treino.id)">Treinar</button>
            </div>

            <div class="edit_delete">
              <button (click)="editarTreino(treino.id)">
                <mat-icon>edit</mat-icon>
              </button>
              <button (click)="deletarTreino(treino.id, treino.titulo)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </mat-card>
      }
    </mat-card-content>
  </mat-card>


  <button mat-flat-button color="primary" (click)="criarNovoTreino()">Novo Treino</button>
</main>
